/* Layout by Shouta-azuma
Updated by Hahaido & Shishio-kun */

@\import "https://malscraper.azurewebsites.net/covers/all/anime/presets/animetitlebefore";
@\import "https://malscraper.azurewebsites.net/covers/all/manga/presets/animetitlebefore"; 


/*
MAIN BACKGROUND
There's two, the first image link is for the characters and the second is for the city background. 
*/

body {
    background-attachment: fixed !important;
    background-image: url("http://i.imgur.com/vOPYFQT.png"), url("http://i.imgur.com/oHVCieh.jpg");
    background-position: center bottom, center center;
    background-repeat: no-repeat;
    background-size: 750px 500px, cover;
   background-color: black;
}

/*
LIST WIDTH
Increase the width here if you need it.
*/
#list_surround {
left: 240px;
width: 750px;
}

 .header_cw, .header_completed, .header_onhold, .header_ptw, .header_dropped {
width: 750px !important;
 }



/*
CATEGORY HEADERS
 header is the background color behind each pic, and the pics are found in the following 5 codes. The bottom code clears the 

original text for these custom logos. 
*/

.table_header {
    background-color: rgba(0, 0, 0, 0.6);
}
.header_cw {
    background-color: transparent;
    background-image: url("http://i.imgur.com/qaTRzeR.png");
    background-repeat: no-repeat;
    height: 30px;
}
.header_ptw {
    background-color: transparent;
    background-image: url("http://i.imgur.com/KFHhWZR.png");
    background-repeat: no-repeat;
    height: 30px;
}
.header_dropped {
    background-color: transparent;
    background-image: url("http://i.imgur.com/vOIf9z2.png");
    background-repeat: no-repeat;
    height: 30px;
}
.header_completed {
    background-color: transparent;
    background-image: url("http://i.imgur.com/uUi1Nxt.png");
    background-repeat: no-repeat;
    height: 30px;
}
.header_onhold {
    background-color: transparent;
    background-image: url("http://i.imgur.com/VaYL8hy.png");
    background-repeat: no-repeat;
    height: 30px;
}
.header_title {
    color: transparent !important;
    font-size: 0 !important;
}



/*
CATEGORY MENU BUTTONS TRANSITION SPEED
By default, set to .25th of a second (a 1/4 of a second transition).
*/

#list_surround .status_not_selected {
    transition: all 0.25s ease-in-out 0s;
}



/*
CATEGORY MENU BUTTONS
Look at the background images first before putting links to new buttons to make sure you're replacing the right ones. There are ten 

codes below. 
*/

#list_surround .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/vM01qEj.png");
    background-position: 0 0;
    background-repeat: repeat repeat;
    display: block;
    height: 80px;
    overflow: auto;
    padding: 0;
    position: fixed;
    right: -35px;
    top: 60px;
    width: 250px;
}
#list_surround .status_not_selected:hover, #list_surround .status_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/qVhQBMZ.png");
    background-position: 0 0;
    background-repeat: repeat repeat;
    border: 5px solid rgba(0, 0, 0, 0.6);
    border-radius: 11px 11px 11px 11px;
    display: block;
    height: 80px;
    overflow: auto;
    padding: 0;
    position: fixed;
    right: -5px;
    top: 60px;
    transition: all 0.25s ease-in-out 0s;
    width: 250px;
}
#list_surround .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/vM01qEj.png");
    background-position: 0 -80px;
    background-repeat: repeat repeat;
    top: 150px;
}
#list_surround .status_selected + .status_not_selected:hover, #list_surround .status_not_selected + .status_selected, #list_surround 

.status_not_selected + .status_not_selected:hover {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/qVhQBMZ.png");
    background-position: 0 -80px;
    background-repeat: repeat repeat;
    top: 150px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected 

+ .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/vM01qEj.png");
    background-position: 0 -160px;
    background-repeat: repeat repeat;
    top: 240px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected:hover, #list_surround .status_not_selected + 

.status_selected + .status_not_selected:hover, #list_surround .status_not_selected + .status_not_selected + .status_selected, 

#list_surround .status_not_selected + .status_not_selected + .status_not_selected:hover {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/qVhQBMZ.png");
    background-position: 0 -160px;
    background-repeat: repeat repeat;
    top: 240px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround 

.status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + 

.status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + 

.status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/vM01qEj.png");
    background-position: 0 -240px;
    background-repeat: repeat repeat;
    top: 330px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected:hover, #list_surround 

.status_not_selected + .status_selected + .status_not_selected + .status_not_selected:hover, #list_surround .status_not_selected + 

.status_not_selected + .status_selected + .status_not_selected:hover, #list_surround .status_not_selected + .status_not_selected + 

.status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + 

.status_not_selected:hover {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/qVhQBMZ.png");
    background-position: 0 -240px;
    background-repeat: repeat repeat;
    top: 330px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, 

#list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, 

#list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, 

#list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, 

#list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/vM01qEj.png");
    background-position: 0 -320px;
    background-repeat: repeat repeat;
    display: inline;
    top: 420px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected:hover, 

#list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected:hover, 

#list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected:hover, 

#list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected:hover, 

#list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, 

#list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected:hover 

{
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/qVhQBMZ.png");
    background-position: 0 -320px;
    background-repeat: repeat repeat;
    display: inline;
    top: 420px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + 

.status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + 

.status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + 

.status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + 

.status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + 

.status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround 

.status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + 

.status_not_selected {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/vM01qEj.png");
    background-position: 0 -400px;
    background-repeat: no-repeat no-repeat;
    display: inline;
    top: 510px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + 

.status_not_selected:hover, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + 

.status_not_selected + .status_not_selected:hover, #list_surround .status_not_selected + .status_not_selected + .status_selected + 

.status_not_selected + .status_not_selected + .status_not_selected:hover, #list_surround .status_not_selected + .status_not_selected + 

.status_not_selected + .status_selected + .status_not_selected + .status_not_selected:hover, #list_surround .status_not_selected + 

.status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected:hover, #list_surround 

.status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, 

#list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + 

.status_not_selected:hover {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("http://i.imgur.com/qVhQBMZ.png");
    background-position: 0 -400px;
    background-repeat: no-repeat no-repeat;
    display: inline;
    top: 510px;
}




/*
CUSTOM CURSORS
The top code is for the red cursor over the list in general. The bottom two cover the green cursor that hovers over the row, and then 

the same that hovers over the category menu and add/edit/more buttons.  
*/

* {
cursor: url("http://i.imgur.com/t0N4uyQ.png"), auto !important;
}

tr:hover [class^="td"] {
    cursor: url("http://i.imgur.com/ZJjYLQs.png"), auto !important;
    background-color: rgba(255, 255, 255, 0.6);
}

.status_selected a, .status_not_selected a, a.List_LightBox, #list_surround small a {
    cursor: url("http://i.imgur.com/ZJjYLQs.png"), auto !important;
}



/*
CUSTOM ADD/EDIT/MORE BUTTONS
The custom More button (down arrow) and Edit/Add button (plus sign).
*/

#list_surround small a {
    background: url("http://i.imgur.com/nT12JE7.png") no-repeat scroll center center transparent;
    color: transparent !important;
    font-size: 13px;
    text-shadow: none !important;
}

#list_surround small a:hover {
    background: url("http://i.imgur.com/9f8cQJz.png") no-repeat scroll center center transparent;
    color: transparent !important;
    font-size: 13px;
    text-shadow: none !important;
}

a.List_LightBox {
    background: url("http://i.imgur.com/OmbcOmv.png") no-repeat scroll center center transparent !important;
    color: transparent !important;
}

a.List_LightBox:hover {
    background: url("http://i.imgur.com/QaARYcU.png") no-repeat scroll center center transparent !important;}


/*
OTHER CODES
If you need more info on customizing the layout see the original topic it was featured in. 
*/


#list_surround tbody:hover td[class^="td"]:first-child {
    border-radius: 5px 0 0 5px;
}
#list_surround tbody:hover td[class^="td"]:last-child {
    border-radius: 0 5px 5px 0;
}
.borderRBL:hover {
    color: #FFFFFF !important;
    font-weight: normal !important;
}


#list_surround small a {
color: gray !important;
color: transparent !important;
font-size: 13px;
text-shadow: none !important;
}

#list_surround tr:hover .animetitle {
    display: inline;
    width: 530px;
}
#list_surround tr:hover .animetitle + small {
    display: none;
}
a, .td1, .td2 {
    color: #FFFFFF;
    font-weight: normal;
    overflow: hidden;
}
#list_surround tr:hover .td1, #list_surround tr:hover .td2, #list_surround tr:hover .td1 a, #list_surround tr:hover .td2 a {
    text-shadow: -2px -2px 1px #000000;
}
a:hover {
    text-decoration: underline;
}
#list_surround .table_headerLink {
    color: #FFFFFF;
    font-weight: bold;
}
#list_surround .header_cw, #list_surround .header_completed, #list_surround .header_onhold, #list_surround .header_ptw, #list_surround 

.header_dropped {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px 20px 0 0;
    margin-left: 0;
    padding: 0;
    width: 535px;
}
#list_surround {
    background-attachment: scroll;
    background-image: none;
    background-position: 0 0;
    border-bottom: 0 solid #292929;
    border-left: 0 solid #292929;
    border-radius: 10px 10px 10px 10px;
    border-right: 0 solid #292929;
    height: auto;
    left: 230px;
    margin: 0 auto 30px;
    position: absolute;
    top: 20px;
}
#list_surround .status_selected a {
    color: #184900;
    display: block;
    font-size: 1px;
    height: 2px;
    padding: 78px 0 0 218px;
    width: 30px;
}
#list_surround .status_not_selected a {
    color: #184900;
    display: block;
    font-size: 1px;
    height: 2px;
    padding: 78px 0 0 218px;
    width: 30px;
}
#list_surround .animetitle + small {
    color: #FF6600;
}
#list_surround .category_totals {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 20px 20px;
    color: #FFFFFF;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}
#list_surround .category_totals:hover {
    background-color: rgba(0, 153, 51, 0.6);
    transition: all 0.25s ease-in-out 0s;
}
#list_surround #grand_totals {
    display: none;
}
#mal_cs_listinfo a strong {
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-variant: normal;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
}
#mal_cs_otherlinks strong {
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-variant: normal;
}
.borderRBL {
    border-color: green;
    border-style: solid;
    border-width: 1px !important;
}
#list_surround .header_title span {
    font: small-caps 30px Verdana;
}
#list_surround .status_not_selected a {
    opacity: 0;
}
#list_surround .status_selected a {
    opacity: 0;
}
#copyright {
    color: #FF6600;
    font-family: sans-serif;
    font-size: 10px;
    height: 15px;
    position: absolute;
    text-align: center !important;
    width: 600px;
}
#copyright a {
    color: #FF6600;
}
#copyright {
}
.td1, .td2 {
    background-color: rgba(0, 0, 0, 0.6);
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
    text-align: left;
}
*, #inlineContent {
    font-family: Segoe UI;
    font-size: 14px;
    text-decoration: none;
}
#inlineContent {
    background: none repeat scroll 0 0 transparent;
    display: block !important;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}


#list_surround td.table_header a:hover {
text-decoration: none !important;
}




/*
FIXES - STATIC EFFECTS FIREFOX
*/

@-moz-document url-prefix()

{

#list_surround tab\le:nth-of-type(n+4) tbody:hover .animetitle:after
{background-image: url(http://i.imgur.com/mFszeS4.gif);
background-repeat: repeat !important;
background-size: contain;
border: 5px ridge #FFFFFF;
border-radius: 10px 10px 10px 10px;
content: "";
display: block !important;
height: 284px !important;
left: 10px !important;
margin-top: -26px !important;
position: fixed !important;
top: 100px !important;
width: 200px !important;
z-index: -10 !important;
}

}


/*
FIXES - HOVER EFFECTS CHROME
*/


@media screen and (-webkit-min-device-pixel-ratio:0) {

#list_surround tab\le:nth-of-type(n+4) tbody:hover .animetitle:after
{background-image: url(http://i.imgur.com/mFszeS4.gif);
background-repeat: no-repeat !important;
border: 5px ridge #FFFFFF;
border-radius: 10px 10px 10px 10px;
content: "";
display: block !important;
height: 284px !important;
left: 10px !important;
margin-top: -26px !important;
position: fixed !important;
top: 100px !important;
width: 200px !important;
z-index: 0 !important;
}

}


/*
FIXES - TAGS HOVER
*/

#mal\_control\_strip a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;
color: #FFFFFF !important;
}

#list_surround tab\le:nth-of-type(n+4) tbody small { 
text-shadow: none;
}

#list_surround tr:hover .animetitle + small {
    display: inline !important;
}

/*
HEIGHT/WIDTH/POSITION OF TITLES ON HOVER
Background size is the height/width of titles.
Margin-right lets you move the cover's position on hover. 
*/
#list_surround tab\le:nth-of-type(n+4) tbody:hover .animetitle:before {
background-repeat: no-repeat !important;
background-size: 200px 284px !important;
border: 5px ridge #FFFFFF;
border-radius: 10px 10px 10px 10px;
content: "";
display: block !important;
height: 284px !important;
left: 10px !important;
margin-top: -26px !important;
position: fixed !important;
top: 100px !important;
width: 200px !important;
z-index: 25;
}

#mal\_control\_strip{
z-index: 100 !important; 
}